<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="@Url.Action("Index", "Admin")">Admin Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("KhachHang", "Admin")">KhachHang</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("DichVu", "Admin")">DichVu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "SanBays")">SanBay</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("index", "ChuyenBays")">ChuyenBay</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "VeMayBays")">VeMayBay</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("HoaDon", "Admin")">HoaDon</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ThanhToan", "Admin")">ThanhToan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("HoaDonThanhToan", "Admin")">HoaDon_ThanhToan</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>